#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
.summary-button{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    box-sizing: border-box;
}
#summary a{
    padding: 0.6rem 0.7rem;
    margin: 2px;
}
#education .items{
    flex-direction: column;
}
#education .items .item{
    width: 100%;
}
